<header></header>

<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
          <input type="button" value="Neu" class="btn pollfilter"/>
          <input type="button" value="Alt" class="btn pollfilter"/>
          <input type="button" value="Eigene" class="btn pollfilter"/>
        </li>
        <li ng-repeat="data in demoData">
          <a class="poll-items" ng-click="showData()">
            <div>
              <div class="state"></div>
              <span ng-bind="data.label"></span>
              <uib-progressbar class="poll-progress" animate="false" value="getProcess(data.totalParticipants, data.votedParticipants)" type="success"></uib-progressbar>
              <div></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="main"  data-spy="scroll" data-target="#toc" >
      <h1 class="page-header" id="overview">Dashboard</h1>
      <div class="row placeholders">
        <div class="placeholder">
          <h4 ng-bind="demoData[0].label">Titel</h4>
          <span class="text-muted" ng-bind="demoData[0].desc">Beschreibung</span>
        </div>
      </div>
      <div>
        <button class="btn" ng-click="openModal()">Neue Umfrage</button>
        <button class="btn" ng-click="openModal(demoData[i])">Umfrage bearbeiten</button>
      </div>
    </div>
  </div>
</div>