<div class="heading-login">
  <h1>Poll-App Login</h1>
  {{loginInfo}}
</div>
<div class="module login-form">
  <div class="form">
    <h2>Account erstellen</h2>
    <input type="text" ng-model="user.name" placeholder="Benutzername"/>
    <input type="password" ng-model="user.pass" placeholder="Passwort"/>
    <input type="email" ng-model="user.email" placeholder="Email Adresse"/>
    <button ng-click="register()">Register</button>
    <span class="toggle" ng-click="toggle()">Zurück zum Loginscreen</span>
  </div>
  <div class="form">
    <h2>Account einloggen</h2>
    <input type="text" ng-model="user.name" placeholder="Benutzername"/>
    <input type="password" ng-model="user.pass" placeholder="Passwort"/>
    <button ng-click="login()">Login</button>
    <div class="toggle" ng-click="toggle()"><span>Erstelle einen Account</span>
    </div>
  </div>
  <div class="cta"><a style="cursor: pointer;" ng-click="requestPassword()">Passwort vergessen?</a></div>
</div>
<script src="app/directives/login/login.js"></script>