
<i ng-click="cancel()" class="glyphicon glyphicon-remove modal-close"></i>
<div class="modal-header">
  <h3 class="modal-title">Poll erstellen</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="cellrow">
      <p class="pollrow">
        <label class="label-desc">Poll Name:</label>
        <input minlength="3" required class="form-control modal-input" type="text" ng-model="poll.label"/>
      </p>
      <p class="pollrow">
        <label class="label-desc">Poll Beschreibung:</label>
        <textarea class="form-control modal-input" rows="3" placeholder="Enter text here..." ng-model="poll.desc"></textarea>
      </p>
      <p class="pollrow">
        <label class="label-desc">Poll Type:</label>
        <select ng-if="poll.types" ng-options="typ for type in poll.types" ng-change="changeType(typ)" class="form-control" ng-model="typ"></select>
      </p>
    </div>
    <div ng-if="active != undefined" class="cellrow" ng-hide="active">
      <p class="pollrow">
        <label class="label-desc">Datum Vorschläge</label>
      </p>
      <div class="input-group" ng-repeat="date in poll.dates">
        <div class="input-group">
          <input type="text" class="date form-control" datepicker-popup="{{format}}" ng-click="openCalendar($event, date)"
                 ng-model="poll.dates[$index].date" is-open="poll.dates[$index].opened" datepicker-options="dateOptions" />
          <span class="input-group-btn">
            <button type="button" class="date btn btn-default" ng-click="openCalendar($event, date)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
      <br>
      <button class="btn" ng-click="addNewAnswerDate()">Zeile Hinzufügen</button>
    </div>
    <div ng-if="active != undefined" class="cellrow" ng-show="active">
      <p class="pollrow">
        <label class="label-desc">Antwort</label>
      </p>
      <div class="pollrow" ng-repeat="answ in poll.answer track by $index">
        <input minlength="3" required class="form-control modal-input" type="text" ng-model="poll.answer[$index]"/>
      </div>
      <br>
      <button class="btn" ng-click="addNewAnswerPoll()">Zeile Hinzufügen</button>
    </div>
  </div>
</div>
<div class="pollmodal-footer">
  <button class="btn" ng-click="save()">Anlegen</button>
  <button class="btn" ng-click="cancel()">Abbrechen</button>
</div>
