
<i ng-click="cancel()" class="glyphicon glyphicon-remove modal-close"></i>
<div class="modal-header">
  <h3 class="modal-title">Poll erstellen</h3>
</div>

<div class="modal-body">
  <div class="row">
    <div class="cellrow">
      <p class="pollrow">
        <label class="label-desc">Poll Name</label>
        <input class="form-control modal-input" type="text" ng-modal="demoData[0].label"/>
      </p>
      <p class="pollrow">
        <label class="label-desc">Poll Beschreibung</label>
        <textarea class="form-control modal-input" rows="3" placeholder="Enter text here..."></textarea>
      </p>
      <p class="pollrow">
        <label class="label-desc">Poll Type</label>
        <select class="form-control" >
          <option ng-repeat="type in types" ng-modal="type">{{type}}</option>
        </select>
      </p>
    </div>
    <div class="cellrow" ng-hide="false">
      <label class="label-desc">Datum Vorschläge</label>
      <div class="pollrow input-group" ng-repeat="d in date track by $index">
        <div class="input-group">
        <input type="text" class="form-control" ng-change="adjustEndDate()" uib-datepicker-popup ng-model="startDate" is-open="startOpened"
        ng-required="true" uib-datepicker-options="dateOptions" close-text="Abbrechen" current-text="Heute" clear-text="Löschen"
        name="startdate" ng-click="openCalendar($event)" value="d"/>

        <span class="input-group-btn">
          <button type="button" class="btn btn-default"
          ng-click="openCalendar($event)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </span>
        </div>
      </div>
      <br>
      <button class="btn" ng-click="addNewAnswerDate()">Zeile Hinzufügen</button>
    </div>
    <div ng-if="answer" class="cellrow">
      <label class="label-desc">Antwort</label>
      <div class="pollrow" ng-repeat="ans in answer track by $index">
        <input class="form-control modal-input" type="text" ng-bind="ans"/>
      </div>
      <br>
      <button class="btn" ng-click="addNewAnswerPoll()">Zeile Hinzufügen</button>
    </div>
  </div>
</div>
<div class="pollmodal-footer">
  <button class="btn" ng-click="save()">Anlegen</button>
  <button class="btn" ng-click="cancel()">Abbrechen</button>
</div>
